<div class="row">
  <div class="col-md-6">
    <h3>Wed Sep 15</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introducing R and RStudio</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Vectors</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Fri Sep 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Loading Data into R</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Data Frames and Factors</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Wed Sep 22</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Descriptive Calculations</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Data Transformation and Cleaning</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Fri Sep 24</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data Visualization</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Data Visualization (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Wrap-up</td> </tr>
	  <tr> <td>11:50</td>  <td><a href="https://www.surveymonkey.com/r/intro-stats-with-r" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
